name: CMake Linux CI

on:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake

      - name: Configure CMake
        run: cmake -B build -S .

      - name: Build Release Configuration
        run: cmake --build build --config Release

      - name: Build Debug Configuration
        run: cmake --build build --config Debug
