name: CMake Windows CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure CMake
        run: cmake -B build -S .

      - name: Build Release Configuration
        run: cmake --build build --config Release

      - name: Build Debug Configuration
        run: cmake --build build --config Debug
